{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}

{% block styling %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'rating/jquery.raty.css' %}"> 
{% endblock styling %}

{% block content %}
<div class="col-md-5">Sort by: 
	<a href="{% url 'sort_by_name' type=type %}">name</a> | 
	<a href="{% url 'sort_by_popularity' type='ASC' %}">popularity</a>
	{% if old_type == 'ASC' %}
		<span>Ascending</span>
	{% elif old_type == 'DESC' %}
		<span>Descending</span>
	{% endif %}		
</div>
<div class="error col-md-12"></div>
{% cache 60 homepage_sort_name old_type page_nr %}
<div class="row">
	 {% for prod in products.object_list %}
	    {% include "home_product.html" with product=prod %}
	 {% endfor %}
</div>
{% endcache %}
<ul class="pager">
  {% if products.has_previous %}
    <li class="previous"><a href="{% url 'sort_by_name_pag' type=old_type page=page_nr|add:"-1"%}">Previous</a></li>	
  {% endif %} 
  {% if products.has_next %}	
    <li class="next"><a href="{% url 'sort_by_name_pag' type=old_type page=page_nr|add:"1"%}">Next</a></li>	
  {% endif %}	
</ul>

    
{% endblock content %}

{% block myscript %}
	<script src="{% static 'script/cart.js' %}"></script>
	<script src="{% static 'rating/jquery.raty.js' %}"></script>
	<script src="{% static 'rating/home_rating.js' %}"></script>
{% endblock myscript %}