{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'rating/jquery.raty.css' %}"> 
{% endblock styling %}

{% block content %}
<h3>Results for search term: {{query}}</h3>
<div class="error col-md-12"></div>
<div class="row">
	 {% for prod in products %}
	    {% include "home_product.html" with product=prod %}
	 {% endfor %}
</div>

    
{% endblock content %}

{% block myscript %}
	<script src="{% static 'script/cart.js' %}"></script>
	<script src="{% static 'rating/jquery.raty.js' %}"></script>
	<script src="{% static 'rating/home_rating.js' %}"></script>
{% endblock myscript %}