{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}

{% block styling %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'rating/jquery.raty.css' %}"> 
{% endblock styling %}

{% block content %}
{% if products.object_list %}
	<h3>Products from your wishlist</h3>
{% endif %}
<div class="error col-md-12"></div>
{% cache 60 wish_list_products page_nr user.id user.wishlist.products.count %}
<div class="row">
	 {% for prod in products.object_list %}
	    {% include "home_product.html" with product=prod %}
	 {% endfor %}
</div>
{% endcache %}
{% include "partials/_pagination.html" with address='wishlist_products_pag' page=products page_nr=page_nr %}
{% endblock content %}

{% block myscript %}
	<script src="{% static 'script/cart.js' %}"></script>
	<script src="{% static 'rating/jquery.raty.js' %}"></script>
	<script src="{% static 'rating/home_rating.js' %}"></script>
{% endblock myscript %}