body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
	width: 90%;
}

.navbar {
  margin-bottom: 20px;
  background-color:#F7F7F7;
}

.product_title {
	text-align: center;
	font-size: 2em;
}

.product {
	background-color:#F7F7F7;	
	//margin-right: 69px;
	margin-left: -14px;
	margin-bottom: 69px;
	//width: 80%
}

.product_thumbnail {
	min-height:200px;
	width: 350px;
}

.rating_label {
  margin-left: -14px;
  margin-right: 0px;
}

.center {
	text-align:center
}

.left {
	text-align:left
}

.right {
	text-align:right
}

.red {
	color:red;
}

.odd{
    background-color:#F7F7F7;	
}

.even{
	background-color:#FFFFFF;	
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-md-4:nth-child(3n+1){
    clear: left;
}

.qty {
	float:right
}

.comm_body{
	font-size: 0.9em;
}

.search_form{
	margin-bottom: 69px;
}

.side_login{
	background-color:#F7F7F7;
	margin-bottom: 69px;
}

.cart_details{
	background-color:#F7F7F7;	
	text-align: center;
}

.cart_details .white{
	background-color:#F1F1F1;
}

.cart_details .black{
	background-color:#F9F9F9;
}

.cart_title{
	text-align: center;
	font-size: 1.3em;
}

.cart_details .total{
	color:red;
	font-size: 1.3em;
}

.quant{
	width: 70px;
}

.error{
	color:red;
	font-size: 1.5em;
	text-align: center;
}
/* product */

.thumbnail {
	position: relative;
}

.thumbnail .discount_image{
	position: absolute;
    top: 0px;
    right: 0px;
    background-color:red;
    min-height: 35px;
    min-width: 70px;
    -moz-border-radius: 30px;
	border-radius: 30px;
	color: white;
	font-size: 1.5em;
	text-align:center;
}

.list-price{
	text-decoration:line-through;
	font-weight:bold;
}

.discount_price{
	color: red;
	font-size: 1.25em;
}