{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Please login
{% endblock title %}

{% block content %}
    <div class="well col-sm-12">
	{% if form.errors %}
	    <p class="text-warning">Your username and password didn't match. Please try again.</p>
	{% endif %}
	    
	<form role="form" class="form-horizontal" method="post" action="{% url 'store_login' %}">
	    {% csrf_token %}

	    <!-- Text input-->
		<div class="form-group">
		  <label class="control-label col-md-2" for="id_username">Username</label>
		  <div class="col-md-8">
		    <input id="id_username" name="username" placeholder="Username" class="form-control" type="text" required>
		  </div>
		</div>
		
		<!-- Password input-->
		<div class="form-group">
		  <label class="control-label col-md-2" for="id_password">Password</label>
		  <div class="controls col-md-8">
		    <input id="id_password" name="password" placeholder="Password" class="form-control" type="password" required>
		  </div>
		</div>
	    <input class=" col-md-offset-9 btn btn-primary" type="submit" value="Login" />
	    <input type="hidden" name="next" value="{{ next }}" />
	</form>
	
	<a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images\facebook.png' %}" /></a>
	<a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'images\twitter.png' %}" /></a>
    </div>
{% endblock content %}